/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
ul {
	display: block;
}

/* Hide the arrows in Chrome, Safari, Edge, and Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

body {
	line-height: 1;
	width: 400px;
	max-width: 400px;
	background-color: #f3f3f3;
	font-size: 14px;
	color: #545454;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* border  */
button,
input,
.header-section,
.last-used,
.accounts-list {
	border: rgb(230, 230, 230) 1px solid;
	border-radius: 3px;
}

.header-section {
	background-color: white;
	margin-bottom: 5px;
}

h1 {
	font-size: 20px;
}

hr {
	margin: 0;
	margin-top: 2px;
	width: 100%;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.main-section {
	margin: 15px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

section.filter-bar {
	margin-bottom: 5px;
}

.full {
	flex: 1;
}

hr {
	display: flex;
	justify-self: center;
	width: 90%;
}

input {
	height: 25px;
	padding-left: 5px;
	font-size: 14px;
	box-sizing: border-box;
}

input:focus {
	outline: rgb(215, 215, 215) 1px solid;
}

button {
	font-size: 16px;
	background-color: white;
}

button:hover {
	background-color: rgb(200, 200, 200);
}

button,
.group-name-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25px;
	height: 25px;
}

.accounts-list button,
.last-used button {
	border: 0;
}

.last-used,
.accounts-list {
	background-color: white;
}

p.lists-ids,
p.group-name-title,
p.account-id {
	padding-left: 5px;
}

ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

li,
.lists-title,
.header-section,
.form-inputs,
.form-labels,
.filter-bar,
.form-filter-list,
.footer-section {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 3px;
	width: 100%;
}

.odd li:nth-child(odd),
.odd li:nth-child(odd) button,
.even li:nth-child(even),
.even li:nth-child(even) button {
	background-color: rgb(240, 240, 240);
}

.odd li:nth-child(odd) button:hover,
.even li:nth-child(odd) button:hover {
	background-color: rgb(200, 200, 200);
}

li.pinned-down,
li.pinned-down button {
	background-color: rgb(184, 207, 231);
}

li.pinned-down button:hover {
	background-color: rgb(144, 168, 193);
}

.lists-ids,
.list-id,
.form-id,
img.logo {
	width: 90px;
}

.lists-names,
.list-name,
.form-name {
	width: 160px;
}

.hidden {
	display: none;
}

.up {
	transform: rotate(180deg);
}

.accounts-list-group {
	overflow: hidden;
	max-height: auto;
	transition: max-height 0.5s ease;
}

.accounts-list-group.hide {
	max-height: 0;
}

.warning-modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.1);
}

.warning-modal-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;

	font-size: 20px;

	background-color: white;
	border: #f3f3f3 5px solid;
	margin: 18px auto;
	padding: 10px;
	border-radius: 3px;
	width: 91%;
	text-align: center;
	z-index: 2;
}

.warning-modal-content h1 {
	font-size: 40px;
	padding-bottom: 5px;
}

.warning-modal-content p {
	font-size: 16px;
}

.warning-modal button {
	position: fixed;
	top: 25px;
	right: 25px;
	border: rgb(230, 230, 230) 0px solid;
}

.warning-modal button:hover {
	background-color: #ececec;
}
